body {
    background-color: grey;
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

[debug] {
    border: 1px solid red;
    box-sizing: border-box;
}

.h-screen {
    height: 100vh;
}

.h-50 {
    height: 5rem
}

.grow {
    flex-grow: 1;
}


